.container--clock {
    background-color: var(--color);
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -625px;
    margin-top: -80px;
}

.clock__header {
    color: var(--light);
    font-family: var(--PrimaryFont);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 40px 0;
}

.clock__items {
    font-family: var(--PrimaryFont);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px 10px;
}

.clock__items--up {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
}

.clock__items--under {
    text-transform: uppercase;
    font-weight: 500;
}