.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 60px 362px;
    z-index: 1;
    transition: .5s;
    height: 120px;
}

.sticky {
    width: 100%;
    height: 80px;
    padding: 30px 362px;
    background: var(--overlay);
}

.nav__logo {
    height: 24px;
}

.nav__list {
    list-style: none;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, max-content);
}

.nav__list-item {
    font-family: var(--ButtonFont);
    text-transform: uppercase;
    font-size: 13px;
}

.nav__list-link {
    color: var(--light);
    text-decoration: none;
    transition: .3s;
}

.nav__list-link:hover {
    color: var(--color);
}